
.boldText{
	font-weight: bold;
}

.italicText{
	font-style: italic;
}

.underlineText{
	text-decoration: underline;
}

.line-throughText{
	text-decoration: line-through;
}

.align-right{
  text-align: right;
}

.align-left{
  text-align: left;
}

.align-center{
  text-align: center;
}
